{%extends 'base.html'%}
{%block body_block%}
<div class="contianer">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
            {%for m in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row ">
        {%for cart in carts%}
        <div class="col-3">

        </div>
        <div class="col-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{cart.product.image.url}}" alt="..." height="400px" width="100px">
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{cart.product.product_name}}</h5>
                        <!-- Product price-->
                        {{cart.product.price}}
                    </div>
                </div>
                <!-- Product actions-->
            </div>
        </div>
        <div class="col-2">
           <h6>
               Quantity:{{cart.qty}}
               Status:{{cart.status}}
           </h6>

        </div>
        <div class="col-2">
            <a href="{%url 'removeitem' cart.id%}" class="btn btn-outline-danger">Remove</a>
            {%if cart.status != "order-placed"%}
            <a href="{%url 'place-order' cart.id cart.product.id%}" class="btn btn-outline-success" >Checkout</a>
            {%endif%}
        </div>
        {%endfor%}
    </div>
</div>


{%endblock%}


