<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body style="background-color: #c8cb97 ">
<div class="container">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4 mt-4 border border-warning rounded-5 bg-success p-2 text-dark bg-opacity-25 border-3" style=" height:500px">
            <h3 align="center">Signin Here</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <button  type="submit" class=" d-grid gap-2 col-6 mx-auto btn btn-outline-primary">Register</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>